<div class="card"></div>
    <div class="card-header">
        Comment on this Post
    </div>
    <div class="card-body">
        <div class="input-group">
            <p>Comment:</p>
            <textarea class="form-control" aria-label="With textarea"></textarea>
        </div>
        <a href="/commentedPost" class="btn btn-primary">SUBMIT</a>
    </div>
</div>