<div class="card">
    <div class="card-body">
        Login
    </div>
    <label for="username" class="form-label">USERNAME</label>
    <div class="input-group">
        <input type="text" class="form-control" id="username" placeholder="USERNAME" aria-describedby="basic-addon3 basic-addon4">
    </div>
    <label for="password" class="form-label">PASSWORD</label>
    <div class="input-group">
        <input type="text" class="form-control" id="password" placeholder="PASSWORD" aria-describedby="basic-addon3 basic-addon4">
    </div>
    <a href="/" class="btn btn-primary">LOGIN!</a>
</div>