<div class="card"></div>
    <div class="card-header">
        Create New Post
    </div>
    <div class="card-body">
        <label for="title" class="form-label">Title:</label>
        <div class="input-group">
            <input type="text" class="form-control" id="title" placeholder="TITLE" aria-describedby="basic-addon3 basic-addon4">
        </div>
        <div class="input-group">
            <p>Content:</p>
            <textarea class="form-control" aria-label="With textarea"></textarea>
        </div>
        <a href="/dashboard" class="btn btn-primary">CREATE</a>
    </div>
</div>